@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="img-responsive img-thumbnail space-on-right-and-bottom float-left" src="~/Images/socrates-statue.jpg" />
    <div class="clearfix visible-xs"></div>

    <h1>The Wisdom of Socrates Aruldas (and The Team)</h1>
    <p class="lead">It was felt that these gems could not be allowed to slip through the cracks.  Here they are preserved for posterity.  Noted down by the bystanders and witnesses to his greatness. Occasionally mere mortals have made their own contributions.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Proverbs</h2>

        <p>Every now and then a sentence is uttered which ought to be remembered.</p>

        <p>@Html.ActionLink("Be amazed...", "Index", "Proverb", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-6">
        <h2>Sages</h2>

        <p>The noble souls responsible for these wise words.</p>

        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>